### OS / IDE ###
.DS_Store
.idea/
*.iml
*.ipr
*.iws
.vscode/

### Build / Dependency ###
target/
build/
out/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

### Logs ###
*.log
*.log.*
logs/
log/

### Environment / Config ###
.env
*.properties
*.yml
*.yaml
!docker-compose.yaml
!application.yaml

### OS Temp ###
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
*.temp

### Java ###
*.class
*.jar
*.war
*.ear

### Others ###
node_modules/
dist/
